.bottomAside {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc; 
    align-items: center;
    padding: 1rem; 
    background-color: white;
    z-index: 10;
  }